body,
button{
    background-color: rgb(25, 21,44);
    color: white;
    font-family: 'dosis',sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    font-size: 4em;
}
button{
    border: 3px solid white;
    border-radius: 10px;
    font-size: 1.5em;
    width: 15opx;
    height: 50px;
    margin: 10px;
}
.textbox{
    margin-top: 4em;
    text-align: center;
    font-size: 1.5em;
}